* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #111;
  line-height: 1.6;
}

#showcase {
  background-image: url('../img/street-tree.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#showcase h1 {
  font-size: 50px;
  text-align: center;
  line-height: 1.2;
}

#showcase p {
  font-size: 20px;
  text-align: center;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: #111;
  border: #111 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#showcase .button:hover {
  background-color: #111;
  color: #fff;
  transition: 0.4s;
}

#section-a {
  padding: 20px;
  background-color: #111;
  color: #eee;
  text-align: center;
}

#section-b {
  padding: 20px;
  background: #eee;
  color: #111;
}

#section-c {
  display: flex;
}

#section-c div {
  padding: 20px;
  text-align: center;
}

#section-c .box1, #section-c .box3 {
  background: #111;
  color: #eee;
}

#section-c .box2 {
  background: #eee;
  color: #111;
}
